---
const { number, title, body, isLast } = Astro.props;
---

<li class={`card ${isLast ? "last-card" : ""}`}>
  <span>
    {number}
  </span>
  <div>
    <h2>
      {title}
    </h2>
    <p>
      {body}
    </p>
  </div>
</li>

<style>
  .card {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: start;
    background-color: #ffffff98;
    padding: .875rem;
    border-radius: 1rem;
    box-shadow: 0px 1px 1px 0px rgba(46, 46, 46, 0.1);
  }
  span {
    background-color: rgba(126, 217, 87, 0.46);
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.5rem;
    color: #0d9955;
    position: relative;
    z-index: 999;
  }
  
  h2 {
    font-size: clamp(0.875rem, 1vw, 1rem);
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  p {
    font-weight: 400;
    margin-top: 0.5rem;
    color: gray;
    font-size: clamp(0.875rem, 1vw, 1rem);
  }
</style>

