<footer>
  <p>Copyright © 2023 - Todos os direitos reservados.</p>
  <p class="dev">Desenvolvido por @ellenmariadev</p>
</footer>

<style>
  footer {
    color: #797979;
    text-align: center;
    padding: 1rem;
    margin-top: 5rem;
    font-size: clamp(0.8rem, 2vw, 1rem);
  }

  .dev {
    font-size: clamp(0.75rem, 2vw, 1rem);
  }
</style>
